*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/40215ec3-01af-44b0-9bcd-38cfc93f8ef4/dgisyce-e1fd38ac-69ee-4538-80c9-206679751bc9.jpg");
    background-size: cover;
    color: #fff;
    font-size: 16px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
}

.widget{
    width: 40%;
    margin: 32px;
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha{
    font-family: 'Oswald', Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.reloj{
    font-family: 'Oswald', Aria;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.reloj .Caja-Segundos{
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}
